target/
**/target/
*.class
*.log
.idea/
.vscode/
.DS_Store
/.mvn/
/.settings/
*.iml
/.classpath
/.project
.settings/
.cache/
.history/
.externalToolBuilders/
/.factorypath
/.settings/
*.war
*.jar
*.zip
*.tar.gz
node_modules/
.env
*.keystore
*.jks
logs/
.history/
/.gradle/
/.settings/